USE [aia]
GO
/****** Object:  Table [dbo].[KEYWORD]    Script Date: 2024/11/17 下午 01:14:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEYWORD](
	[KEYWORD] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[KEYWORD] ([KEYWORD]) VALUES (N'Financial Announcements')
INSERT [dbo].[KEYWORD] ([KEYWORD]) VALUES (N'Operational Updates')
INSERT [dbo].[KEYWORD] ([KEYWORD]) VALUES (N'Product Launches')
GO
